<h1><%= @fridge.brand %> - <%= @fridge.location %> <a href='/fridges'>back home</a></h1>
<hr>

<p><strong>Brand:</strong> <%= @fridge.brand %></p>
<p><strong>Size:</strong> <%= @fridge.size %></p>
<p><strong>Location:</strong> <%= @fridge.location %></p>

<hr>
<h2>Food</h2>

<hr>
<h2>Drinks</h2>